<!DOCTYPE html>
<html>
<head>
	<title>students details</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	</head>
<body >
<h1> Employee Details </h1> 
<table>
	<tr>
		<th> Name</th>
	     <th> Email</th>
         <th> Number</th>
         <th>Phone</th>
         <th> Course</th>
		<th>Gender</th>
		
	</tr>
	<tr>
		<td><%= Name %></td>
        <td><%Email %</td>
        <td><%= phone %></td>
        <td><%= course %</td>
		<td><%= gender %></td>
	
	</tr>
</table>
</body>
</html>
